<%= form_for @article do |a| %>

<div>
<%= a.label :title, "Title" %>
<%=  a.text_field :title, class: 'form-control' %>
</div>
<div>
<%= a.label :content, "Content" %>
<%= a.text_area :content, class: "form-control", id: "content" %>
</div>
<br>
<%= a.submit class: "btn" %>

<% end %>
